#body{
  display: flex;

  justify-content: center;
}
 
#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}




#para {
    color:black;
    font-size: large;
    opacity: 100% !important;
    text-align: center;
    font-size: 4rem;
    
}

#header{
  font-size: 5rem;
  color: blue;
  text-align: center;
  
}

