#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

#headerID{
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  text-align: center;
  margin: auto;
  width: 300px;
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 40;
}

#headerIDC{
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  text-align: center;
  margin: auto;
  width: 300px;
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 40;
}

.blackFont{
  color: gray !important;
}

.whiteFont{
  color:white !important;
}

#backGroundImage {
 width: auto;
 height: 100vh;
 align-self: center;
}

#mainH, #mainC, #mainM{
  display: flex;
  align-content: center;
  margin: auto;
  position: relative;
  flex-direction: column;
}

#navBar{
  opacity: 100% !important;
  height: 120px;
  font-size: 40px;
  position:absolute;
  top: 60px;
  left: 35vw;
  display: flex;
  flex-direction: row;
  z-index: 40;
}

#blurbHolder{
  font-size: 30px;
  margin: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 600px;
  text-align: right;
}

.navTab{
 margin-left: 40px;
 margin-right: 40px;
}

/* Menu specific styles */

#backgroundLayerM{
  background-color: gray;
  height: 100vh;
  width: 100vw;
  opacity: 70%;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
}

#backGroundImageM{
  position: relative;
  width: auto;
  height: 100vh;
  align-self: center;
  z-index: -10;
  max-width: 1428px;
}

#menuWrapper{
  position: absolute;
  top: 15vh;
  left: 5vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 40;
  border: white solid 1px;
  padding: 35px;
  border-radius: 5%;
  max-width: 30vw;
}

.dishTitle{
  font-size: 35px;
  color:white;
  margin: 10px;
}

.description{
  font-size: 25px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* contact page only */
#backGroundImageC{
  position: relative;
  width: 1428px;
  height: auto;
  align-self: center;
}

#blurbHolderC{
  font-size: 30px;
  margin: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 600px;
  text-align: right;
}

#contactHolder{
background-color: gray;
opacity: 70%;
width: 1428px;
height: 30vh;
display: flex;
align-content: center;
flex-direction: row;
margin: auto;
justify-content: center;
align-items: baseline;
}

.mainCMargin{
  padding-top: 20px;
}

.contactIcon{
 
  height: 5vh;
  width: auto;

  align-self: center;
  background: transparent;
  z-index: 40;
}

#contactBlurbHolder{
  font-size: 2rem;
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.contactDetails{
  margin-top: 10px;
  padding: 10px;
  font-size: 2rem;
  width: 450px;
}

#instaID{
  height: 5vh !important;
  width: auto;
  align-self: center;
  background: transparent;
  z-index: 40;
}

#connect{
  display: flex;
  flex-direction: column;
  align-self: normal;
  font-size: 3rem;
  justify-content: center;
}

#iconHolder{
  display: flex;
  flex-direction: row !important;
  height: 500px;
  padding-top: 1.7rem;
}

